---
import Layout from "../layouts/Layout.astro";
const title = "About Page";
import Navbar from "../components/Navbar.astro";
---

<Layout title={title}>
    <Navbar />
    <h1 class="text-3xl font-bold underline">This is About Page</h1>
    <a href="/">Go to Home</a>
</Layout>
