---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import deadpool from "../assets/deadpoll.jpg";
import Card from "../components/Card.astro";
import MainCard from "../components/MainCard.astro";
const title = "Home Page";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title={title}>
	<Navbar />
	<Welcome />
	<div class="relative h-96 w-full mt-15">
		<div
			class="absolute inset-0 bg-cover bg-center opacity-50"
			style={`background-image: url(${deadpool.src})`}
		>
		</div>
		<div class="absolute inset-0 bg-gradient-to-t from-white"></div>
		<!-- <div class="absolute inset-0 bg-gradient-to-b from-white"></div> -->
		<div
			class="relative flex flex-col items-center justify-center h-full font-bebas"
		>
			<h1 class="text-green-800 text-6xl font-bold text-center">
				make your move today
			</h1>
			<h1 class="text-green-800 text-4xl font-semibold">
				fresh in our farm
			</h1>
		</div>
	</div>
	<!-- <MainCard2 /> -->
	<div class="max-w-7xl mx-auto p-6 -mt-25">
		<MainCard />
	</div>
	<Card />
	<div class="relative h-72 w-full mt-40">
		<div
			class="absolute inset-0 bg-cover bg-center opacity-50"
			style={`background-image: url(${deadpool.src})`}
		>
		</div>
		<div class="absolute inset-0 bg-gradient-to-t from-white"></div>
	</div>
	<div
		class="flex flex-col items-start text-start uppercase font-extrabold leading-tight px-5 my-2 font-bebas text-green-800 absolute -mt-96"
	>
		<span>|</span>
		<h2 class="text-4xl">2025 impact</h2>
		<h2 class="text-4xl">impact-driven</h2>
	</div>
	<div
		class="flex justify-center items-center text-center gap-4 py-5 px-5 -mt-70 absolute"
	>
		<div class="rounded-xl bg-amber-300 max-w-xl mx-auto -mt-12 lg:mt-12">
			<h2>hai</h2>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
				porro fuga molestias ullam quo ipsa est cumque officiis id quis
				perferendis tempora, dolores voluptatum tenetur sequi quas
				libero placeat accusamus.
			</p>
		</div>
		<div class="rounded-xl bg-amber-300 max-w-xl mx-auto -mt-12 lg:mt-12">
			<h2>hai</h2>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
				porro fuga molestias ullam quo ipsa est cumque officiis id quis
				perferendis tempora, dolores voluptatum tenetur sequi quas
				libero placeat accusamus.
			</p>
		</div>
		<div class="rounded-xl bg-amber-300 max-w-xl mx-auto -mt-12 lg:mt-12">
			<h2>hai</h2>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
				porro fuga molestias ullam quo ipsa est cumque officiis id quis
				perferendis tempora, dolores voluptatum tenetur sequi quas
				libero placeat accusamus.
			</p>
		</div>
	</div>
</Layout>
