---
import textile from "../assets/textile.jpg";

const leftImg =
    "https://siskiyoufarmco.com/wp-content/uploads/2024/08/collage-home-left-update.png";
const rightImg =
    "https://siskiyoufarmco.com/wp-content/uploads/2024/08/collage-home-right.png";
---

<div class="max-w-7xl mx-auto px-4 lg:px-0 relative">
    <div
        class="grid grid-cols-1 lg:grid-cols-3 items-center gap-8 relative my-10"
    >
        <!-- Left image -->
        <div class="hidden lg:block pt-12 relative z-10">
            <img
                src={leftImg}
                alt="Left collage"
                class="w-full h-auto object-cover rounded-2xl"
                loading="lazy"
            />
        </div>

        <!-- Middle card (z-0 biar di belakang gambar) -->
        <div class="relative z-0 -mt-12 lg:-mt-0">
            <div
                class="rounded-2xl shadow-xl md:px-12 py-12 text-center max-w-xl mx-auto"
                style={`background-image: url(${textile.src}); background-size:cover; background-position:center;`}
            >
                <div
                    class="flex flex-col justify-center items-center px-5 pb-10 text-center"
                >
                    <div class="max-w-2xl">
                        <h2
                            class="font-extrabold text-green-800 text-4xl md:text-7xl mb-6 text-start px-2 font-bebas"
                        >
                            LET’S <br /> DO THIS <span class="text-green-600"
                                >TOGETHER</span
                            >
                        </h2>
                        <p class="text-gray-700 text-lg mb-5">
                            Embek Probolinggo Farm has a new farm at Laweyan -
                            Probolinggo, since at 2025 we have independen farm
                            at village. And contributing for loot people with
                            milk and breeding farm. Come on join with us!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right image -->
        <div class="hidden lg:block pt-12 relative z-10">
            <img
                src={rightImg}
                alt="Right collage"
                class="w-full h-auto object-cover rounded-2xl"
                loading="lazy"
            />
        </div>
    </div>
</div>
