---
import "../styles/global.css";
import astro from "../assets/astro.svg";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Embek Probolinggo Farm</title>
	</head>
	<body>
		<slot />
		<footer>
			<slot name="footer" />
		</footer>
	</body>
</html>
